@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  position: fixed; /*De esta forma la pagina se queda quieta sin un scroll*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-end;
  justify-self: end;
  margin-right: 50px;
}

header .header-icons-container .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  font-family: "Robot Mono", monospace;
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../assets/image/Cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}

.home-main-text {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
}

.home-main-button {
  width: 110px;
  height: 50px;
  background-color: #47cfac;
  display: grid;
  align-items: center;
}

.home-main-button a {
  font-weight: 700;
  font-size: 18px;
}

.noticias {
  width: 100%;
  background-color: #e6e9ed;
}

.noticias-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 40px;
}

.noticias-container-img img {
  width: 90%;
}

.noticias__texto {
  width: 90%;
  margin: auto 0;
}

.noticias__texto h2 {
  font-size: 30px;
  margin: 20px 0;
}

.noticias__texto p {
  margin: 25px 0;
}

.noticias__texto button {
  width: 110px;
  height: 40px;
  border: 1px solid #47cfac;
  background-color: transparent;
}

article h3 {
  color: black;
}
